<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd
         
         http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context.xsd">
         
         <bean class="com.subodh.SpringBeans.Address" id="addid">
         		<constructor-arg value="112"></constructor-arg>
         		<constructor-arg value="ameerpet"></constructor-arg>
         		<constructor-arg value="500016"></constructor-arg>
         </bean>
         
         <bean class="com.subodh.SpringBeans.Student"  id="stdid">
         		<constructor-arg value="119"></constructor-arg>
         		<constructor-arg value="subodh"></constructor-arg>
         		<constructor-arg ref="addid"></constructor-arg>
         </bean>

</beans>
